<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">abc BANK pvt.Limited</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
          <a class="nav-link active" href="/credit">Credit Card</a>
          <!-- <a class="nav-link active" href="#">Debit Card</a> -->
          <a class="nav-link active" href="/transaction">Deposit/Withdrawel</a>
          <!-- <a class="nav-link active" href="#">LOAN</a> -->
          <a class="nav-link active" href="/historypage">History</a>
        </div>
        <div class="dropdown bt">
          <button class="btn btn-secondary dropdown-toggle  pe-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{username}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="" (click)="logout()">Logout</a></li>
             <li><a class="dropdown-item" (click)="deleteAccount()">Delete Account</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>

